@import "styles.css";

@media only screen and (max-width:420px){
    body{
        width: 100vw;
        height: 100vh;
        background-image: url(images/bg-mobile.png);
        background-size:cover ;
        background-repeat:no-repeat ;
        background-position:top left ;
    }

    .fylo-block-and-data-remaining-block{
        display: grid;
        grid-template-columns:22em;
        row-gap: 2em;
        column-gap: 0em;
    }
    .text-and-comment-remaining{
        text-align: center;
        display: flex;
        align-items:center;
        place-content: center;
    }
    
    meter{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 16em;
        /* background-color: red; */
        margin: 0rem auto;
        
    }
    .data-remaining-block{
        height: 10.5em;
    }
    
    .indicator-ball{
        width: 0.7em;
        height: 0.7em;
        top: 0.005em;
        left: -4.55em;
    }
    .floating-comment-section{
        border-radius: 0.5em;
        top:1em;
        height: 4.3em;
        left: 4em;
    }
    .floating-comment-section .triangle{
        display: none;
    }

    .data-remaining-block{
        margin-top: 0;
    }
}

@media (min-width:420px) and (max-width:960px){
    body{
        width: 100vw;
        height: 100vh;
        background-image: url(images/bg-mobile.png);
        background-size:cover ;
        background-repeat:no-repeat ;
        background-position:top left ;
    }
    .data-remaining-block{
        height: 10.5em;
    }

    .fylo-block-and-data-remaining-block{
        display: grid;
        grid-template-columns:22em;
        row-gap: 2em;
        column-gap: 0em;
    }
    .text-and-comment-remaining{
        text-align: center;
        display: flex;
        align-items:center;
        place-content: center;
    }
    
    meter{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 16em;
        /* background-color: red; */
        margin: 0rem auto;
        
    }
    .indicator-ball{
        width: 0.7em;
        height: 0.7em;
        top: 0.005rem;
        left: -4.55rem;
    }

    .data-remaining-block{
        margin-top: 0;
    }
    .floating-comment-section{
        border-radius: 0.5rem;
        top:1em;
        left: 4em;
        height: 4.3em;

    }
    .floating-comment-section .triangle{
        display: none;
    }
}

@media (min-width:960px) and (max-width:1100px){
    .indicator-ball{
        left: -6.35rem;
        width:2rem;
    }
}

@media (min-width:1100px) and (max-width:1440px){
    .indicator-ball{
        left: -6.2rem;
        width:2rem;
    }
}